/*style for boby image*/
body {
    background-image: url(../images/pexels-photo-1261728.webp);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    margin: 0px;
    padding: 0px;
}

/*style for header*/
header {
  background-color: #c0c0c0;
  float: left;
  margin: 0px;
  padding: 0px;
  }

  h1 {
      color: black;
      text-align: left;
  }

  h2 {
      text-align: center;
  }

  /*footer*/

  footer {
    background-color: #c0c0c0;
    position: absolute;
    bottom: 0;
    margin: 0;
    border: solid 2px ;
  }

 .footer {
    text-align: center;
    list-style: none;
    padding: 0 20px 0 20px;
    color: black;
    text: size 20px;
  }